# Mock the inputs defined in your action.yml (Prefix with INPUT_)
INPUT_CLIENTID=
INPUT_CLIENTSECRET=
INPUT_WORKSPACEID=
INPUT_ENVIRONMENT="DEV"
INPUT_SECRETS=

# Mock standard GitHub context variables if your code uses them
GITHUB_REPOSITORY="your-username/your-repo"
GITHUB_EVENT_NAME="push"

# Optional: If your action saves artifacts locally
CI="true"
ACTIONS_STEP_DEBUG="true"
